<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android = "http://schemas.android.com/apk/res/android" id="com.lavavolcano.styled" version="1">

	<name>Lava Volcano</name>
	<description>Jump to the top of the Volcano.  Dont let the Lava get you!</description>
	<author email="thestyledox@gmail.com">Iwriteonthings</author>

	<icon src="icon-128.png" width="128" height="128" />
	<icon src="icon-256.png" width="256" height="256" gap:role="default" />

	<preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="21" />

	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>
        <gap:config-file platform="android" parent="/manifest" mode="delete"> <uses-permission android:name="android.permission.READ_PHONE_STATE"/> </gap:config-file>

	<preference name="deployment-target" value="8.0" />
	<preference name="android-minSdkVersion" value="16" />
	<plugin name="cordova-plugin-crosswalk-webview" source="npm" />
	<plugin name="cordova-build-architecture" spec="https://github.com/MBuchalik/cordova-build-architecture.git#v1.0.1" source="git" />
	<plugin name="https://github.com/cranberrygame/cordova-plugin-ad-admob" source="npm" />

	<plplugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />

	<plugin name="cordova-plugin-inappbrowser" source="npm" />

	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>

</widget>
